@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Quicksand',sans-serif;
}

body{
    background:#fff;
    color:#566900;
}

.dashboard{
    display:flex;
    min-height:100vh;
}

.sidebar-iframe{
    height:100vh;
    border:none;
    flex-shrink:0;
}

.contenido{
    flex:1;
    padding:40px;
}

/*encabezado*/

.cuenta{
    color:#566900;
    font-size:15px;
    font-weight:600;
}

.encabezado{
    margin-bottom:30px;
}

.encabezado h1{
    color:#566900;
    margin:5px 0 10px;
    font-size:34px;
}

.encabezado p{
    font-size:16px;
    line-height:1.5;
    color:#566900;
}

/*filas*/

.fila{
    display:flex;
    gap:45px;
    margin:35px 0;
}

/*cards*/
.card{
    background:#fff;
    border-radius:18px;
    padding:25px;
    box-shadow:0 0 10px #b6cc5369;
}

/*plan*/

.plan-card{
    background:#FE5D31;
    color:#fff;
    width:450px;
    box-shadow:none;
}

.plan-card .titulo-card{
    font-size:13px;
    opacity:1;
}

.plan-card h2{
    margin-top:10px;
    color:#fff;
}

.plan-card h3{
    font-size:30px;
    margin:5px 0 20px;
    color:#fff;
}

.estado-plan{
    display:flex;
    align-items:center;
    gap:10px;
    font-size:16px;
    font-weight:600;
}

.estado-plan i{
    font-size:18px;
}

/*vencimiento*/

.vencimiento-card .titulo-card{
    color:#566900;
    font-size:13px;
}

.vencimiento-card{
    background:#FFF2D4;
    width:450px;
    color:#566900;
    box-shadow:none;
}

.vencimiento-card h2{
    margin:10px 0;
    color:#566900;
}

.vencimiento-card p{
    color:#566900;
}

.footer-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:30px;
}

.footer-card span{
    font-size:16px;
    font-weight:600;
}

.btn-pagar{
    background:#FE5D31;
    color:#fff;
    text-decoration:none;
    padding:0.7em 1em;
    border-radius:1.5em;
    font-weight:bold;
    border:none;
    transition:all .3s ease;
    width:7em;
    text-align:center;
}

.btn-pagar:hover{
    background:#FE5D31;
    transform:translateY(-2px);
    box-shadow:0 0 15px #FF6B3D;
}

/*hisotiral*/

.historial-card{
    width:100%;
}

.historial-card h2{
    color:#566900;
    font-size:24px;
}

.pago{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:22px 0;
    border-bottom:1px solid #efefef;
}

.pago:last-child{
    border-bottom:none;
}

.derecha{
    display:flex;
    align-items:center;
    gap:16px;
}

.importe{
    color:#566900;
    font-weight:700;
}

.izquierda{
    display:flex;
    align-items:center;
    gap:18px;
}

.izquierda p{
    color: #8b8b8b;
    font-weight: 500;
}

.icono{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#b6cc536c;
    display:flex;
    justify-content:center;
    align-items:center;
}

.icono i{
    color:#566900;
    font-size:20px;
}

.izquierda h3{
    font-size:18px;
    color:#566900;
    margin-bottom:5px;
}

.izquierda p{
    font-size:15px;
    color:#8b8b8b;
}



/*tabla de pagos*/
.tabla-pagos{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

.tabla-pagos thead{
    background:#B6CC53;
    color:#fff;
}

.tabla-pagos th{
    padding:16px;
    text-align:left;
    font-size:16px;
    font-weight:600;
}

.tabla-pagos td{
    padding:18px 16px;
    border-bottom:1px solid #ececec;
    font-size:15px;
    color:#666;
}

.tabla-pagos tbody tr{
    transition:.25s;
}

.tabla-pagos tbody tr:hover{
    background:#fafafa;
}

/*estados*/

.estado{
    padding:8px 18px;
    border-radius:20px;
    font-size:14px;
    font-weight:600;
}

.estado.pagado,
.estado.completado,
.completado{
    background:#B6CC53;
    color:#fff;
}

.estado.pendiente{
    background:#FFF2D4;
    color:#FE5D31;
}

.estado.vencido{
    background:#ffdede;
    color:#d83b3b;
}

.btn-descargar{
    border:none;
    border-radius:25px;
    padding:10px 18px;
    font-size:14px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

.btn-descargar{
    background:#B6CC53;
    color:#fff;
}

.btn-descargar:hover{
    background:#a4bb42;
    transform:translateY(-2px);
}

.btn-detalle{
    background:white;
    border:2px solid #B6CC53;
    color:#566900;
    padding:8px 16px;
    border-radius:30px;
    cursor:pointer;
    transition:.25s;
    font-weight:bold;
}

.btn-detalle:hover{
    background:#B6CC53;
    color:white;
}

/*modal detalle factura*/
.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.35);
    backdrop-filter:blur(4px);
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition:.3s;
    z-index:999;
}

.modal-overlay.activo{
    opacity:1;
    visibility:visible;
}

.modal{
    width:520px;
    background:#fff;
    border-radius:22px;
    padding:35px;
    position:relative;
    animation:modal .3s ease;
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

@keyframes modal{

    from{
        transform:translateY(25px);
        opacity:0;
    }

    to{
        transform:translateY(0);
        opacity:1;
    }

}

/* ESCALA TIPOGRAFICA GENERAL */
h1,
h2 {
    font-size: 30px !important;
}

h3,
h4 {
    font-size: 24px !important;
}

p,
li,
a,
span,
label,
input,
select,
textarea,
strong,
small {
    font-size: 16px !important;
}

button,
.btn-pagar,
.btn-descargar,
.btn-detalle {
    font-size: 14px !important;
}

.cerrar,
.cerrar-modal,
.cerrarDonaciones,
.cerrarModal {
    font-size: 30px !important;
}

.modal h2{
    color:#566900;
    font-size:24px;
    margin-bottom:25px;
}

.cerrar-modal{
    position:absolute;
    right:22px;
    top:20px;
    border:none;
    background:none;
    font-size:24px;
    color:#566900;
    cursor:pointer;
    transition:.25s;
}

.cerrar-modal:hover{
    color:#FE5D31;
}

/*factura*/

.detalle-factura{
    display:flex;
    flex-direction:column;
    gap:18px;
    color: #8b8b8b;
}

.detalle-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom:14px;
    border-bottom:1px solid #ececec;
}

.detalle-item span{
    color:#777;
    font-size:15px;
}

.detalle-item strong{
    color:#566900;
    font-size:16px;
}

.total-factura{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:10px;
}

.total-factura span{
    font-size:18px;
    font-weight:600;
    color:#566900;
}

.total-factura strong{
    font-size:28px;
    color:#B6CC53;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:900px){

    .fila{
        grid-template-columns:1fr;
    }

    .tabla-pagos{
        display:block;
        overflow-x:auto;
    }

}

@media(max-width:700px){

    .contenido{
        padding:25px;
    }

    .encabezado{
        flex-direction:column;
        gap:20px;
    }

    .modal{
        width:92%;
        padding:25px;
    }

}

.historial-card .pago .izquierda h3 {
    font-size: 18px !important;
}

.modal input,
.modal select,
.modal textarea,
.modal-overlay input,
.modal-overlay select,
.modal-overlay textarea {
    font-size: 14px !important;
}

