@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:white;
}


.dashboard{
    display:flex;
    min-height:100vh;
}

/*SIDEBAR*/

.sidebar{
    width:250px;
    background:#f4f4f4;
    padding:30px 20px;
    display:flex;
    flex-direction:column;
    border-right:1px solid #ececec;
}

.logo{
    margin-bottom:35px;
}

.logo img{
    width:180px;
}

.usuario{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:35px;
}

.usuario img{
    width:50px;
    height:50px;
    border-radius:50%;
    object-fit:cover;
}

.usuario span{
    font-size:13px;
    color:#566900;
}

nav{
    display:flex;
    flex-direction:column;
    gap:10px;
}

nav a{
    text-decoration:none;
    color:#566900;
    padding:13px 18px;
    border-radius:30px;
    display:flex;
    gap:12px;
    align-items:center;
    transition:.25s;
}

nav a:hover{
    background:#eef5d0;
}

.activo{
    background:#B6CC53;
    color:white;
}

/*CONTENIDO*/

.contenido{
    flex:1;
    padding:40px;
}

header h1{
    color:#566900;
    font-size:34px;
}

header p{
    color:#566900;
    margin-top:5px;
}

/*CARDS*/

.cards-superiores{
    display:flex;
    gap:45px;
    margin:35px 0;
}

.plan,
.vencimiento{
    border-radius:18px;
    padding:25px;
}

.plan{
    background:#FE5D31;
    color:white;
    width: 450px;
}

.plan span{
    font-size:13px;
}

.plan h2{
    margin-top:10px;
}

.plan h3{
    font-size:30px;
    margin:5px 0 20px;
}

.vencimiento{
    background:#FFF2D4;
    width:450px;
    color: #566900;
}

.vencimiento span{
    color:#566900;
    font-size:13px;
}

.vencimiento h2{
    color:#566900;
    margin:10px 0;
}

.footer-card{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-card button{
    background:#FE5D31;
    color:white;
    padding: 0.7em 1em;
    border-radius: 1.5em;
    font-weight: bold;
    border: none;
    transition: all 0.3s ease;
    width: 7em;
}

.footer-card button:hover{
    box-shadow: 0 0 15px #FF6B3D;
    padding: 0.7em 1em;
    border: none;
    transform: translateY(-2px);
    width: 7em;
}

/*MASCOTAS*/

.mascotas h2{
    color:#566900;
    margin-bottom:20px;
}

.lista-mascotas{
    display:flex;
    gap:45px;
}

.mascota{
    width: 350px;
    background:white;
    border-radius:18px;
    padding:18px;
    display:flex;
    gap:20px;
    box-shadow:0 0px 10px #B6CC53;
    transition:transform .3s ease,box-shadow .3s ease;
    position:relative;
}

.mascota img{
    width:110px;
    height:110px;
    object-fit:cover;
    border-radius:8px;
}

.texto-mascotas{
    display: flex;
    align-items: baseline;
}

.titulo-mascotas{
    display:flex;
    align-items: baseline;
    margin-bottom:25px;

}

.btn-agregar{
    margin-left: 20px;
    background:none;
    border:none;
    color:#566900;
    font-size:16px;
    font-weight:500;
    cursor:pointer;
    display:flex;
    align-items:center;
    gap:5px;
    transition:.3s;
}

.btn-agregar:hover{
    color:#FE5D31;
}

.acciones-mascota{
    position:absolute;
    right:15px;
    top:15px;
    display:flex;
    gap:10px;

}

.acciones-mascota button{
    border:none;
    background:none;
    color:#566900;
    cursor:pointer;
    transition:.3s;

}

.acciones-mascota button:hover{
    color:#FE5D31;
}

/*.añadir{
    margin-left: 20px;
}

.añadir a{
    text-decoration: none;
    color: #566900;
}

.añadir a:hover{
    color: #FF6B3D;
    transition: all 0.3s ease;
}
*/
.info{
    display:flex;
    flex-direction:column;
}

.info h3{
    color:#566900;
    font-size:28px;
}

.info ul{
    margin:10px 0 18px 18px;
    color:#566900;
}

.info button{
    align-self:flex-start;
    background:white;
    border:2px solid #B6CC53;
    color:#566900;
    padding:10px 20px;
    border-radius:30px;
    cursor:pointer;
    transition:.25s;
}

.info button:hover{
    background:#B6CC53;
    color:white;
}


/*DONACIONES*/

.donaciones{
    margin-top:50px;
}

.titulo{
    display:flex;
    align-items:baseline;
    margin-bottom:20px;
}

.titulo h2{
    color:#566900;
}

.titulo a{
    color:#566900;
    text-decoration:none;
}

.ver-todo-donacion{
    margin-left: 35px;
}

.ver-todo-donacion a:hover{
    color: #FF6B3D;
    transition: all 0.3s ease;
}

.tarjeta-donacion{
    display: flex;
    gap: 35px;
}
 /*Donacion pero VER TODO*/
.titulo-abierto{
    color: #566900;
    display:flex;
    align-items:baseline;
    margin-bottom:25px;
}

.tarjeta-donacion-abierto{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
} 

.cerrar:hover{
    color: #FF6B3D;
    transition: all 0.3s ease;
}

.donacion{
    background:#B6CC53;
    color:white;
    padding:25px 35px;
    border-radius:18px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 550px;
}

.izquierda{
    display:flex;
    align-items:center;
    gap:20px;
}

.izquierda i{
    font-size:28px;
}

.izquierda h3{
    font-weight:500;
}

.izquierda p{
    margin-top:5px;
    font-size:14px;
}

.donacion span{
    font-size:30px;
    font-weight:700;
}

/*MODAL*/

.modal{
    position:fixed;
    inset:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(255,255,255,.25);
    backdrop-filter:blur(6px);
    z-index:999;
    color: #566900;
}

.modal.activo{
    display:flex;

}

.modal-contenido{
    width:650px;
    background:white;
    border-radius:20px;
    padding:35px;
    position:relative;
    box-shadow:0 15px 40px rgba(0,0,0,.15);

}

.cerrar{
    background:none;
    border:none;
    color:#566900;
    cursor:pointer;
    font-size:30px;
    transition:.25s;
    line-height:1;
}

.modal-historial{
    width:750px;
}

.cabecera-historial{
    display:flex;
    align-items:center;
    gap:25px;
    margin-bottom:30px;
}

.cabecera-historial img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:15px;
}

.cabecera-historial h2{
    color:#566900;
    margin-bottom:5px;
}

.cabecera-historial p{
    color:#566900;
}

.estado{
    display:inline-block;
    margin-top:10px;
    background:#B6CC53;
    color:white;
    padding:8px 15px;
    border-radius:20px;
    font-size:14px;
}

.turno{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 20px;
    margin-top:15px;
    border-radius:15px;
    background:#FFF2D4;

}

.turno h4{
    color:#566900;
}

.turno p{
    color:#566900;
    margin-top:5px;
}

.completado{

    background:#B6CC53;
    color:white;
    padding:8px 15px;
    border-radius:20px;

}

.pendiente{

    background:#FE5D31;
    color:white;
    padding:8px 15px;
    border-radius:20px;

}

.modal-formulario{
    width:520px;
}

.encabezadoModal{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.encabezadoModal h2{
    margin:0;
    color:#566900;
    font-size:24px;
    font-weight:700;
}

.cerrar{
    position:static;
    background:none;
    border:none;
    color:#566900;
    cursor:pointer;
    font-size:34px;
    line-height:1;
    padding:0;
    transition:.25s;
}

.cerrar:hover{
    color:#FE5D31;
}

.modal-formulario form{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.modal-formulario input,
.modal-formulario select{
    width:100%;
    height:48px;
    padding:0 16px;
    border:2px solid #B6CC53;
    border-radius:12px;
    color:#566900;
    font-size:16px;
    transition:.25s;
    outline: none;
    border:2px solid #B6CC53;
    box-shadow:0 0 8px rgba(182,204,83,.35);
}

.modal-formulario select{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    background:white;
    padding-right:50px;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='8'%3E%3Cpath d='M1 1l6 6 6-6' fill='none' stroke='%23566900' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position:right 18px center;
    background-size:14px;
}


.modal-formulario select{
    border-color: #B6CC53;
    color:#566900;
}

.modal-formulario select option{
    color:#566900;
    border-color: #B6CC53;
}

.fotoMascota{
    display:flex;
    justify-content:center;
}

.fotoMascota label{
    width:140px;
    height:140px;
    border:2px dashed #B6CC53;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    color:#566900;
    transition:.3s;
}

.fotoMascota label i{
    font-size:35px;
    margin-bottom:10px;
}

.fotoMascota label:hover{
    background:#FFF2D4;
    border-color:#566900;
}


.guardarMascota{
    width:220px;
    align-self:center;
    margin-top:10px;

    background:#FE5D31;
    color:white;

    border:none;
    border-radius:30px;

    padding:14px 0;

    font-size:16px;
    font-weight:600;

    cursor:pointer;
    transition:.3s;
}

.guardarMascota:hover{
    transform:translateY(-2px);
    box-shadow:0 0 15px #FF6B3D;
}

.confirmar{
    width:420px;
    text-align:center;
}

.confirmar h2{
    color:#566900;
    margin-bottom:12px;
}

.confirmar p{
    color:#566900;
    margin-top:10px;
}
.botonesConfirmacion{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.botonesConfirmacion{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:35px;
}

.cancelar{
    background:white;
    border:2px solid #B6CC53;
    color:#566900;
    padding:12px 28px;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
    transition:.25s;
}

.cancelar:hover{
    background:#B6CC53;
    color:white;
}

.confirmarEliminar{
    background:#FE5D31;
    color:white;
    border:none;
    border-radius:30px;
    padding:12px 28px;
    cursor:pointer;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.confirmarEliminar:hover{
    transform:translateY(-2px);
    box-shadow:0 0 15px #FF6B3D;
}

.cerrarDonaciones{
    background:none;
    border:none;
    color:#566900;
    cursor:pointer;
    font-size:34px;
    line-height:1;
    padding:0;
    transition:.25s;
}

.cerrarDonaciones:hover{
    color:#FE5D31;
}

.titulo-abierto{
    display: flex;
    justify-content: space-between;
}